<ion-header>
  <ion-toolbar>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let restaurante of restaurantes" [routerLink]="['/restaurantes', restaurante.id]">

      <ion-avatar slot="start">
        <ion-img [src]="restaurante.logotipoURL"></ion-img>
      </ion-avatar>

      <ion-label style="text-align: center;">{{restaurante.nombre}}</ion-label>

      <ion-label slot="end" *ngIf="restaurante.tenedores == 1">
        <ion-icon name="star" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
      </ion-label>

      <ion-label slot="end" *ngIf="restaurante.tenedores == 2">
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
      </ion-label>

      <ion-label slot="end" *ngIf="restaurante.tenedores == 3">
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
      </ion-label>

      <ion-label slot="end" *ngIf="restaurante.tenedores == 4">
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star-outline" />
      </ion-label>

      <ion-label slot="end" *ngIf="restaurante.tenedores == 5">
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
      </ion-label>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newRestaurante()">
      <p>New </p>
      <ion-icon name="add" />
    </ion-fab-button>
  </ion-fab>

</ion-content>
