<ion-header>
  <ion-toolbar>
    <ion-title>{{titulo}}</ion-title>
    <ion-button slot="start">
      <ion-back-button defaultHref="/restaurantes" />
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>

        <ion-item>
          <ion-label position="stacked">Nombre del restaurante</ion-label>
          <ion-input [clearInput]="true" placeholder="{{holder_nombre}}" value="Restaurante " #nombre>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Logotipo del restaurante</ion-label>
          <ion-input [clearOnEdit]="true" placeholder="{{holder_logotipo}}" #logotipo></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Descripcion del restaurante</ion-label>
          <ion-input id="Text1" [clearInput]="true" placeholder="{{holder_descripcion}}" value="El restaurantes es "
            #descripcion></ion-input>
        </ion-item>

        <!-- <ion-input placeholder="{{holder_nombre}}" type="text" #nombre></ion-input>
        <ion-input placeholder="{{holder_logotipo}}" type="text" #logotipo></ion-input>
        <ion-input placeholder="{{holder_descripcion}}" type="text" #descripcion>
          <ion-label>{{holder_tenedores}}</ion-label>
        </ion-input> -->

        <ion-list>
          <ion-item>
            <ion-label>{{holder_tenedores}}</ion-label>
            <ion-select placeholder="Selecciona una opción." #tenedores>
              <ion-select-option value=1>1</ion-select-option>
              <ion-select-option value=2>2</ion-select-option>
              <ion-select-option value=3>3</ion-select-option>
              <ion-select-option value=4>4</ion-select-option>
              <ion-select-option value=5>5</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button color="dark" (click)="addRestaurante(logotipo, nombre, descripcion, tenedores)">{{guardar}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
