<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaulHref="/restaurantes"></ion-back-button>
    </ion-button>
    <ion-button slot="end" color="danger" (click)="deletePlace()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-title>{{restaurante.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-img [src]="restaurante.logotipoURL" />
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h1 class="ion-text-center"><b>{{restaurante.nombre}}</b></h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h4 class="ion-text-center">{{restaurante.descripcion}}</h4>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngIf="restaurante.tenedores == 1">
      <h1 class="ion-text-center">
        <ion-icon name="star" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
      </h1>
    </ion-col>

    <ion-col *ngIf="restaurante.tenedores == 2">
      <h1 class="ion-text-center">
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
      </h1>
    </ion-col>

    <ion-col *ngIf="restaurante.tenedores == 3">
      <h1 class="ion-text-center">
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star-outline" />
        <ion-icon name="star-outline" />
      </h1>
    </ion-col>

    <ion-col *ngIf="restaurante.tenedores == 4">
      <h1 class="ion-text-center">
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star-outline" />
      </h1>
    </ion-col>

    <ion-col *ngIf="restaurante.tenedores == 5">
      <h1 class="ion-text-center">
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
        <ion-icon name="star" />
      </h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list *ngIf="restaurante.comentarios.length > 0; else sinComentarios">
        <ion-item *ngFor="let comentario of restaurante.comentarios">
          <ion-label style="text-align: center;"><i>{{comentario}}</i></ion-label>
        </ion-item>
      </ion-list>

      <ng-template #sinComentarios>
        <p class="ion-text-center"><i>{{noTieneComentarios}}</i></p>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-content>
